body {
   background-image: url("https://img.freepik.com/free-vector/futuristic-gradient-backdrop_53876-89792.jpg?w=1060&t=st=1700216583~exp=1700217183~hmac=3d019707b8abc613b0ae5aba3e8db286e10d9a2b7515f27a51098fa36f9fc0ae");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   display: flex;
   justify-content: center;
}
.main{
   position: relative;
   position: absolute;
   top: 5%;
   padding: 2%;
   width: 70%;
   height: 90%;
   min-width: 430px;
   justify-content: center;
   background-repeat: no-repeat;
   background-image: url("https://img.freepik.com/free-vector/monochromatic-background-with-wavy-abstract-shapes_23-2149133890.jpg?w=1060&t=st=1700206004~exp=1700206604~hmac=90b97145f68f23e7464cd49b89b4dd5bf0ab8c9ac754c17cebf4043997709c54");
   box-sizing: border-box;
}
.R{
   position: absolute;
   box-sizing: border-box;
   height: 100%;
   left: 0;
   top: 0;
   width: 50%;
   /* background-color: rgba(255, 255, 255, 0.3); */
}
.L{
   position: absolute;
   box-sizing: border-box;
   height: 100%;
   right: 0;
   top: 0;
   width: 50%;
   /* background-color: rgba(255, 255, 255, 0.8); */
}
.learn{
   position: absolute;
   box-sizing: border-box;
   margin: 10%;
   margin-top: 40%;
   color: white;
   font-size: 2.9em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 55px;
   left: 10%;
}  
.expl{
   position: absolute;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 14px;
   left: 10%;
   color: white;
   margin: 10%;
   margin-top: 65%;
} 
/* .form{
   position: absolute;
} */
.divform{
   position: absolute;
   top: 24%;
   width: 85%;
   height: 60%;
   padding: 20px;
   background-color: white;
   border-radius: 10px;
}
.fn,.ln,.emi,.pas,.subm{
   position: absolute;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 14px;
   font-weight: bold;
   margin: 3%;
   border: 2px solid gray;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 17px;
   padding-left: 50px;
   width: 87.6%;
}
.fn{
   top: 20px;
}
.ln{
   top: 90px;
}
.emi{
   top: 160px;
}
.pas{
   top: 230px;
}
.subm{
   background-color: rgb(16, 171, 16);
   color: white;
   top: 300px;
   padding-left: 0;
   /* margin-top: 20px; */
}
.term{
   position: absolute;
   bottom: 7%;
   left: 9%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 90%;
}
.atrm{
   text-decoration: none;
   color: red;
}
.purch{
   position: absolute;
   box-sizing: border-box;
   padding: 18px;
   /* padding-left: 120px; */
   text-align: center;
   top: 13%;
   bottom: 10px;
   width: 92%;
   height: 8%;
   border-radius: 10px;
   background-color: slateblue;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: white;
}
span.then{
   /* position: absolute; */
   color: rgba(255, 255, 255, 0.6);
}
a.then{
   /* position: absolute; */
   text-decoration: none;
   color: white;
}